/*Блоки*/
html, body {
    width: 1000px;
    height: 100%;
    text-align: center;    
    margin: 0 auto;    
}

#pageContainer {
    
}

#headerContainer {        
    margin: 0 auto;    
    height: 60px;    
    background-color: #6496c8;   
    text-align: center;
}

#headerBlock {    
    padding-top: 10px;
}

h1 {
    font-size: 22px;        
    text-shadow: -1px 1px #417cb8;
    color: #fff;    
    margin: 5px 0px 5px 0px;    
    font-family: Verdana;    
}

#mainContainer {
    height: 820px;
}

#footerContainer {       
    margin: 0 auto;
    text-align: center;    
    background-color: #6496c8;
    height: 50px;
}

#footerCopyright {
    font-size: 16px;        
    text-shadow: -1px 1px #417cb8;
    color: #fff;
    font-family: Verdana; 
    padding-top: 10px;   
}



/*Элементы*/
table {
    margin: 0 auto;
}

input[type="text"].txt {
    width: 120px;
    height: 20px;        
}

input[type="submit"].flat  {
    color: #fff;
    background-color: #6496c8;
    text-shadow: -1px 1px #417cb8;
    border: none;
    width: 125px;
    height: 25px;   
    font-size: 14px;
}

p {
    font-family: Verdana;
    font-size: 14px;
}

table.userInput {
    width: 500px;
    margin-left: 300px;
    margin-right: 200px;
}