/*Блоки*/
html, body {
    width: 1000px;
    height: 100%;
    text-align: center;    
    margin: 0 auto;    
    font-family: Verdana;    
}


#headerContainer {        
    margin: 0 auto;    
    height: 60px;    
    background-color: #6496c8;
    text-align: center;
    border: solid;
}

#headerBlock {    
    padding-top: 10px;
}

h1 {
    font-size: 22px;        
    text-shadow: -1px 1px #417cb8;
    color: #fff;    
    margin: 5px 0px 5px 0px;        
}


#mainContainer {
    height: 820px;
    border: solid;
}

#footerContainer {       
    margin: 0 auto;
    text-align: center;    
    background-color: #6496c8;
    height: 50px;
    border: solid;
    position: relative;
}

#footerCopyright {
    font-size: 16px;        
    text-shadow: -1px 1px #417cb8;
    color: #fff;
    font-family: Verdana; 
    padding-top: 10px;   
}

.inputBlock {
    border: solid;
    text-align: center;
    width: inherit;
    float: left;
}

.labelContainer {
    width: 150px;
    margin: 0 auto;
    font-family: Verdana;
    font-size: 14px;    
    padding: 5px;
}

.textContainer {
    width: 150px;
    margin: 0 auto;
    padding: 5px;
}

.messageContainer {    
    width: 200px;
    margin: 0 auto;
}

.buttonContainer {
    width: 150px;
    margin: 0 auto;
    padding: 5px;
}

.userElementRow {
    width: inherit;    
    margin: 5px;        
}

#adminPanelContainer {    
    border: solid;
    width: inherit;
    text-align: left;
}

#showType {
    margin-left: 5px;
    height: 25px;
}

.txt {
    width: inherit;
    height: 20px;        
}

label {
    font-size: 14px;
}

.flatActionLink {
    color: #fff;
    background-color: #6496c8;
    text-shadow: -1px 1px #417cb8;
    border: none;
    width: 150px;
    font-style: normal;
    height: 25px;   
    font-size: 14px;
    text-decoration: none;
}

input[type="submit"], input[type="button"].flat  {
    color: #fff;
    background-color: #6496c8;
    text-shadow: -1px 1px #417cb8;
    border: none;
    width: inherit;
    height: 25px;   
    font-size: 14px;    
}

.userElementRow div {
    float: left;    
}

#changeFormContainer {
    width: 1000px;
}